*.vsidx
*.lock
*.exe
*.cache
*.editorconfig
*.json
*.dll
*.pdb
*.props
*.suo
*.v2
*.log
VotingWebApp\obj\Debug\net6.0\VotingWebApp.csproj.FileListAbsolute.txt
VotingWebApp/Migrations/*
*.dll
/VotingAndroidApp/.idea/.name
/VotingAndroidApp/.idea
